.root {}

html {
    min-width: 100vh;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;

}

* {
    padding: 0;
    /* border: 1px solid; */
    margin: 0;
}

.header-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

ul {
    padding: 0;
    display: inline-flex;
    position: absolute;
    right: 36%;
    font-size: 14pt;
    align-self: center;

}

ul li {
    list-style: none;
    padding: 10px;
    left: 10px;
}

.bar-icon {
    margin-right: 10px;
    left: 20px;
}

.logo {
    margin-left: 10px;
    font-weight: bold;
    font-size: 12pt;
}

.circle {
    position: absolute;
    background-color: rgb(230, 186, 56);
    width: 450px;
    height: 450px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}

.content {
    display: block;
    position: relative;
    min-height: 47.50rem;
    justify-content: space-between;
}


.man {
    width: 349px;
    height: 613px;
    padding-top: 267px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.lift-paragraph {
    position: absolute;
    width: 350px;
    top: 250px;
    left: 20px;
    margin: 0;
}

.read-more {
    margin: 0;
    font-weight: bold;
}

p {
    margin: 2px;
}

.title {
    position: absolute;
    width: 406px;
    margin: 0;
    bottom: 40%;
    right: 6%;
    font-weight: 800;
    font-size: xx-large;
    overflow-wrap: break-word;
    ;
}

.footer {
    display: flex;
    position: absolute;
    width: 100%;
    height: 60px;
    bottom: 0;
    justify-content: space-between;

}